body {
   margin : 0px;
   padding: 0px;
}

.el-header {
   background-color    : #ffa724;
   /* flex layout https://www.ruanyifeng.com/blog/2015/07/flex-grammar.html */
   display             : flex;
   align-items         : center;
   justify-content     : flex-start;
   height              : 50px;
}

.el-aside {
   background-color: white;
   text-align      : left;
   padding         : 0px;
   margin          : 10px;
}

.el-main {
   background-color: #e9eef3;
   text-align      : center;
   height          : auto;
   min-height      : 500px;
}

.el-footer {
   background-color: black;
   color           : white;
   display         : flex;
   align-items     : center;
   justify-content : flex-end;
   height          : 50px;
}

.vfooter .link {
   color: white;
}